/*
colours to be used for this template:
light pink:     rgb(250,230,241)
black:          rgb(52,56,65)
pink:           rgb(232,173,201)
reddish pink:   rgb(230,68,89)
maroon pink:    rgb(167,10,63)
grey:           rgb(79,80,100)
green:          rgb(79,80,100)
*/
@font-face{
    src: url(fonts/NataSans-VariableFont_wght.ttf);
    font-family: 'Nata Sans';
}

@font-face{
    src: url(fonts/FranxurterTotallyFat-X3G4Z.ttf);
    font-family: 'Franxurter Fat';
}

* {
    box-sizing: border-box; /* keeps all contents within border box, instead of extending beyond full width */
}

/* get rid of the "bounce" effect on the website */
html{
    overscroll-behavior: none;
}

/* body style */
body{
    overflow-x: clip;
    overflow-y: auto;
    margin: 0;
    background-color: rgb(79,80,100);
    font-family: "Nata Sans", sans-serif;
}

/* navigation bar style */
.top_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 15px 30px;
    background-color: rgb(232,173,201);
}

.top_nav a{
    font-size: large;
    font-weight: 600;
    color: rgb(52,56,65);
    text-decoration: none;
}

.bot_nav{
    float: right;
}

.bot_nav a{
    padding-left: 20px;
}

/* title styling */
.title{
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50%;
    text-align: center;*/
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    text-align: center;
}

.hover_title{
    position: relative;
    display: inline-block;
}

#hover_canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none; /* let mouse pass through */
}

h1{
    white-space: nowrap;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Franxurter Fat", sans-serif;
    color: rgb(232,173,201);
    font-weight: 100;
    font-size: clamp(7rem, 10vw, 17rem);
    z-index: 1;
}

#adjust_v{
    margin-right: -0.130em;
}

#beneath_name{
    width: 500px;
    border: 3px solid rgb(250,230,241);
}

#quote_1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 800;
    font-size: x-large;
    color: rgb(232,173,201);
}

/* project cards styling */
.project_cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px auto 50px auto;
    width: 90vw;
    height: 300px;
}

.card_container{
    display: flex;
    overflow: auto;
    width: 1200px;
}

.project_href{
    text-decoration: none;
}

.card{
    border: 2px solid rgb(232,173,201);
    border-radius: 10px;
    margin-right: 20px;
    width: 300px;
    height: 300px;
    background-color: rgb(232,173,201);
    font-optical-sizing: rgb(79,80,100);
}

h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: 5px underline rgb(250,230,241);
    font-weight: 900;
    color: rgb(232,173,201);
}

#projects{
    width: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 15px;
    line-height: 1;
    font-size: 600%; /* come back to this */
}

#split1{
    display: block;
    align-self: flex-start;
}

#split2{
    display: block;
    align-self: flex-end;
}

.card_h3{
    margin: 0;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    font-weight: 800;
    text-align: center;
    color: rgb(79,80,100);
}

.card_h4{
    margin: 0;
    height: 20px;
    text-align: center;
    color: rgb(79,80,100);
}

.project_info{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

/* skills section styling */
.skills{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 400px;
}

#skills_title{
    justify-content: top;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 1;
    font-size: 600%; /* come back to this */
}

.skills_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 10px auto;
}

.skills_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0 10px;
    border: 5px solid rgb(232,173,201);
    border-radius: 10px;
}

.skills_box img{
    width: 50px;
    height: auto;
    margin: 10px 10px;
}

.skills_box p{
    margin-right: 10px;
    font-weight: 900;
    color: rgb(232,173,201);
}

/* footer styling */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 250px;
    padding: 50px 0px;
    margin-top: 50px;
    background-color: rgb(232,173,201);
}

.footer_title_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 600px;
}

.footer_section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
}

.footer_titles{
    font-weight: 800;
    text-align: center;
    color: rgb(79,80,100);
    border: 3px solid rgb(250,230,241);
    margin: 10px 50px 10px 50px;
    padding-top: 0;
    width: 200px;
}

#links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 50px 0px 50px;
    width: 200px;
}

#links a{
    color: rgb(79,80,100);
    text-decoration: none;
}

#links p{
    margin: 0;
    margin-bottom: 10px;
    color: rgb(79,80,100);
}

/* projects page */
.project_title{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.project_a{
    text-decoration: none;
}

.project_section{
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: auto;
    margin: auto;
    padding-bottom: 30px;
    border: 3px solid rgb(232,173,201);
    border-radius: 20px;
    background-color: rgb(232,173,201);
}

.project_h3{
    margin: 20px 0 0 0;
    font-size: 175%;
    font-weight: 800;
    text-align: center;
    color: rgb(79,80,100);
}

.project_h4{
    margin: 20px 0 0 0;
    font-size: 125%;;
    text-align: center;
    color: rgb(79,80,100);
}

.project_section p{
    margin: 0 auto;
    text-align: justify;
    font-weight: 500;
    width: 75%;
}

.project_section ul{
    padding: 0;
    margin: 0 auto;
    width: 70%;
}

.project_section table, th, td{
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid rgb(79,80,100);
    text-align: center;
    table-layout: fixed;
    width: 75%;
}

.project_section img{
    display: block;
    margin: 20px auto;
    width: 45%;
    height: auto;
}

.project_section span{
    display: block;
    text-align: center;
    margin: 20px auto;
}

#row{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 1046.8px;
    height: 500px;
}

#column{
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#column img{
    margin: 25px auto;
    height: 90%;
    width: 90%;
}

/* about me page */
.about_me_title{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.about_me_a{
    text-decoration: none;
}

/* contact page */
.contact_title{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.contact_a{
    text-decoration: none;
}